* {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 16px; }

body {
  background-color: #faebd7; }

h1 {
  text-align: center; }

.hidden {
  visibility: collapse; }

p span {
  cursor: pointer; }

.highlighted {
  color: salmon; }

.header-container {
  width: 90%;
  font-size: 1.3em;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .header-container {
      font-size: 1.5em; } }

.seek-bar-container {
  position: relative;
  z-index: 300001;
  background: transparent; }
  .seek-bar-container #seek-bar .ui-slider-range {
    background: #e39022;
    width: 100%;
    position: absolute;
    bottom: 0; }
  .seek-bar-container #buffer-bar .ui-slider-range {
    background: #8d5812;
    width: 100%;
    position: absolute;
    bottom: 0; }

.caption-container {
  width: 90%;
  margin: auto;
  margin-bottom: 10%; }
  .caption-container p {
    background: #fdfdfd;
    padding: 5%;
    border-radius: 3px; }
  @media screen and (min-width: 1024px) {
    .caption-container {
      width: 80%; }
      .caption-container p span {
        font-size: 20px; } }

.video-container {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .video-container {
      width: 90%; } }
  @media screen and (min-width: 1024px) {
    .video-container {
      width: 80%; } }
  .video-container .control-bar {
    position: absolute;
    bottom: 0; }
  .video-container video {
    width: 100%;
    z-index: -1; }

.ui-slider-handle {
  display: none; }

#seek-bar {
  background: #88ac0b; }

.ui-slider-range-min {
  background: transparent; }

button {
  height: 35px;
  border: none;
  background: none; }
  button button img {
    width: 12px; }

#pause-button, #play-button, #volumeOff, #volumeOn,
#full-screen {
  float: left;
  width: 12px; }
  @media screen and (min-width: 768px) {
    #pause-button, #play-button, #volumeOff, #volumeOn,
    #full-screen {
      width: 15px; } }

.additional-controls {
  display: flex;
  align-items: center; }
  .additional-controls #start-stop {
    order: 1; }
  .additional-controls .time {
    order: 2; }
  .additional-controls .empty {
    order: 3;
    flex-grow: 2; }
  .additional-controls #volume-off-on {
    order: 4; }
  .additional-controls #volume-fader {
    order: 5;
    width: 10%; }
    @media screen and (min-width: 768px) {
      .additional-controls #volume-fader {
        width: 200px;
        visibility: visible; } }
  .additional-controls #subtitles {
    order: 6; }
  .additional-controls #playback-speed-button {
    order: 7; }
  .additional-controls #full-screen-button {
    order: 8;
    flex-direction: row-reverse; }

#seek-bar {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.4); }

.time {
  display: inline-block;
  color: #fff;
  bottom: 10px; }

#playback-speed-button img, #cc {
  width: 22px; }

.control-bar {
  z-index: 300000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .control-bar img {
    padding: 5px;
    z-index: 1;
    position: relative; }

/*# sourceMappingURL=application.css.map */
