h1 {
  text-align: center;
}

.video-container {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  @include tablet {
    width: 90%;
  }
  .control-bar {
    position: absolute;
    bottom: 0;
  }
  video {
    width: 100%;
    @include tablet {
      width: 100%;
    }
  }
}

#playback-speed-button img, #cc {
  width: 22px;
}

.control-bar {
  z-index: 300000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  //@include tablet {
  //  width: 80%;
  //
  //}
  img {
    padding: 5px;
    z-index: 1;
    position: relative;
  }
}

.caption-container {
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  p {
    background: $offWhite;
    padding: 5%;
    border-radius: 3px;
  }
  @include desktop {
    width: 70%;
    p span {
      font-size: 20px;
    }
  }

}

.header-container {
  width: 90%;
  font-size: 1.3em;
  margin: auto;
  @include tablet {
    font-size: 1.5em;
  }
}