
.video-container {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 80%;
  }
  .control-bar {
    position: relative;
    bottom: 0;
      z-index: 300000;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      img {
        padding: 5px;
        z-index: 1;
        position: relative;
      }
  }
  video {
    width: 100%;
    z-index: -1;
  }
}

.ui-slider-handle {
  display: none;
}

#seek-bar{
  height: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ui-slider {
  background: transparent;
}

button {
  height: 35px;
  border: none;
  background: none;
  button img {
    width: 12px;
  }
}

#pause-button, #play-button, #volumeOff, #volumeOn,
#full-screen {
  float: left;
  width: 12px;
  @include tablet {
    width: 15px;
  }
}

.additional-controls {
  display: flex;
  align-items: center;
  #start-stop {
    order: 1;
  }
  .time {
    order: 2;
  }
  .empty {
    order: 3;
    flex-grow: 2;
  }
  #volume-off-on {
    order: 4;
  }
  #volume-fader {
    order: 5;
    width: 10%;
    @include tablet {
      width: 200px;
      visibility: visible;
    }
  }
  #subtitles {
    order: 6;
  }
  #playback-speed-button {
    order: 7;
  }
  #full-screen-button {
    order: 8;
    flex-direction: row-reverse;
  }
}


.time {
  display: inline-block;
  color: $white;
  bottom: 10px;
}

#playback-speed-button img, #cc {
  width: 22px;
}

