* {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  background-color: $antiqueWhite;
}

.hidden {
  visibility: collapse;
}

.control-bar {
  position: relative;
  z-index: 300000;
  margin: auto;
  margin-top: -25px;
  height: 20px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  @include tablet {
    margin-top: -30px;
    width: 80%;

  }
  img {
    padding: 5px;
    z-index: 1;
    position: relative;
  }
}

video {
  z-index: -1;
}

#pause-button, #play-button, #volumeOff, #volumeOn,
#full-screen{
  float: left;
  width: 12px;
  @include tablet {
    width: 15px;
  }
 }

