* {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  background-color: $antiqueWhite;
}

.seek-bar-container {
  z-index: 300001;
}

button {
  float:left;
}

.hidden {
  visibility: collapse;
}


video {
  z-index: -1;
}

#pause-button, #play-button, #volumeOff, #volumeOn,
#full-screen {
  float: left;
  width: 12px;
  @include tablet {
    width: 15px;
  }
}


